<!-- <%
    const folderUpload = 'uploads/items/'
    const linkPrefix   = '/login/'
%>

<% include ./../../helper/select-box-default.ejs %>
<%- include ./../../elements/css.ejs -%>

	<h1 >ĐĂNG NHẬP</h1>
 <div class="header-bottom">
	 <div class="header-right w3agile">
		 <div class="header-left-bottom agileinfo">
		  <form action="/admin/register" method="post">
			 <input type="email"  name="username"  autofocus />
			 <input type="password" placeholder="Password" name="password"  value="" autofocus />
			 <div class="remember">
			  <div class="forgot">
				  <h6><a href="/dang-ky.html ">Đăng ký</a></h6>
			  </div>
			 <div class="clear"> </div>
		   </div>
			 <button type="submit" class="btn btn-sm btn-success mr-1">
				Log In</button>
		 </form>	
	 </div>
   
 </div>
</div> -->