
<% 
    groupACPHelper = (group_acp) => {
        let classGroupACP =(group_acp == 'yes') ? 'fa-square-check' : 'fa-square';
        return `<a href="#" class="fa-regular ${classGroupACP} "></a>`;
        
    }    
%>

